body {
  color: #000;
  background-color: #fff;
  font-family: sans-serif;
  font-family: monospace;
  font-size: 500%;
  text-align: center;
}


.version-toggler {
  font-size: 100%;
}
.version-toggler button{
  font-size: 100%;
  cursor: pointer;
}

.version {
  font-size: 50%;
}
